<launch>
  <arg name="config" default="$(find slam_odometry)/config/slam_odometry_ysw.yaml" />
  <arg name="publish_global_map" default="false" />
  <arg name="pcd_path" default="/home/hhy/2004ros/relocalization_ws/global_map_manual_imu.pcd" />
  <arg name="global_map_topic" default="/localization/slam_odometry/global_map" />
  <arg name="global_map_voxel_leaf" default="2.0" />
  <arg name="global_map_frame" default="odom" />

  <node pkg="slam_odometry" type="slam_odometry_node" name="slam_odometry" output="screen">
    <rosparam command="load" file="$(arg config)" />
    <param name="map/publish_global_map" value="$(arg publish_global_map)" />
    <param name="map/pcd_path" value="$(arg pcd_path)" />
    <param name="map/global_map_topic" value="$(arg global_map_topic)" />
    <param name="map/frame_id" value="$(arg global_map_frame)" />
    <param name="map/publish_voxel_leaf" value="$(arg global_map_voxel_leaf)" />
  </node>
</launch>
